* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", Arial, sans-serif;
  font-size: 16px;
  max-width: 1920px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Body  Information */

/* Header Navigation */
.head-nav a {
  color: #000000;
  font-size: 14px;
}

.head-nav > .head-logo {
  cursor: default;
  font-family: "Samsung Sharp Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.head-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 20px;
}

nav {
  max-width: 800px;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-li-text {
  margin-right: 70px;
}

.nav-select-style {
  background: #e5e5e5;
  width: 68px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #e5e5e5;
  height: 34px;
  border-radius: 32px;
}

select {
  border: none;
  background: #e5e5e5;
}

/* HEAD CONTENT */
.cont-left-side {
  padding-right: 20px;
  max-width: 780px;
  width: 50%;
}

h1 {
  font-size: 60px;
  line-height: 1.1;
  font-weight: bold;
}

.head-text {
  font-size: 18px;
  line-height: 2;
  padding: 80px 0;
}

.head-content {
  padding: 40px 20px 70px 20px;
  display: flex;
}

.cont-pic {
  display: block;
  background: url(../img/Asset.png) no-repeat center / contain;
  width: 860px;
  height: 899px;
}

/* Head Form */
.head-email {
  width: 326px;
  color: #707070;
  padding: 20px;
  border: 2px solid #707070;
  border-radius: 8px;
  font-size: 16px;
  margin-right: 20px;
}

.head-button {
  color: #ffffff;
  background-color: #462be2;
  padding: 22px;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  width: 280px;
}

/* Section Description */
.description {
  position: relative;
  background: #23d87d;
  height: 660px;
  display: flex;
  justify-content: center;
}
.descr-text {
  font-size: 24px;
  line-height: 48px;
  font-weight: bold;
  text-align: center;
  width: 999px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.desc-pic {
  position: absolute;
  top: 14%;
  left: 11%;
  display: block;
  background: url(../img/Group-13.png) no-repeat center / contain;
  width: 1057px;
  height: 583px;
}

/* Section For-Whom */
.for-whom {
  padding: 50px 0;
}

.for-whom-content-all {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

h2 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  line-height: 64px;
  margin: 40px 0;
}

.for-whom-text {
  line-height: 32px;
}

.for-whom-title {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  margin: 40px 0;
}

.for-whom-content {
  width: 30%;
}
.for-whom-pic1 {
  display: block;
  background: url(../img/School.png) no-repeat center / contain;
  width: 371px;
  height: 275px;
}

.for-whom-pic2 {
  display: block;
  background: url(../img/individual.png) no-repeat center / contain;
  width: 368px;
  height: 257px;
  margin-top: 17px;
}

.for-whom-pic3 {
  display: block;
  background: url(../img/bussiness.png) no-repeat center / contain;
  width: 370px;
  height: 258px;
  margin-top: 17px;
}

/* Section Function */
.container {
  max-width: 1163px;
  margin: 0 auto;
}

.function {
  background: #252f5a;
  color: #ffffff;
  padding-bottom: 1px;
}

.function-title {
  text-align: center;
  padding-top: 135px;
  padding-bottom: 55px;
}

.function-text {
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 120px;
}

.function-section-text-position {
  display: flex;
  justify-content: center;
}

.function-dots {
  display: flex;
  justify-content: center;
  width: 1160px;
  border-top: 1px dashed #ff8a33;
  border-bottom: 1px dashed #ff8a33;
}

.function-section-text {
  font-size: 24px;
  line-height: 48px;
  font-weight: bold;
  max-width: 1033px;
  text-align: center;
  margin: 120px 0;
}

/* Function Content */
.content-all {
  position: relative;
  margin-top: 10px;
}

.function-content {
  min-height: 461px;
  margin: 90px 0 180px 0;
}

.function-content-pic {
  position: absolute;
  top: 0;
  right: -20.5%;
  display: block;
  background: url(../img/Group-80.png) no-repeat center / contain;
  width: 1042px;
  height: 461px;
}

.function-content-pic2 {
  position: absolute;
  top: 38%;
  left: -20.5%;
  display: block;
  background: url(../img/Group-81.png) no-repeat center / contain;
  width: 1042px;
  height: 461px;
}

.function-content-pic3 {
  position: absolute;
  top: 73.5%;
  right: -20.5%;
  display: block;
  background: url(../img/Group-82.png) no-repeat center / contain;
  width: 1042px;
  height: 461px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  margin: 20px 0 30px 0;
}

.function-content-text li {
  font-size: 18;
  line-height: 24px;
  margin: 15px 0;
}

.function-content-text {
  max-width: 410px;
  min-height: 461px;
}

.function-content-right {
  display: flex;
  justify-content: flex-end;
}

.function-content:last-child {
  margin: 90px 0 120px 0;
}

/* Section Benefits */
.benefits {
  background: #23D87D;
  color: #ffffff;
}

.benefits-container {
  padding: 100px 0;
}

.benefits-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  width: 21%;
  height: 217px;
}

.benefit-content-text {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 50px;
}

.benefits-first-line {
  display: flex;
  justify-content: space-between;
  margin-top: 124px;
}

.benefit-content-pic1 {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  margin-left: -50px;
  display: block;
  background: url(../img/Group42.png) no-repeat center / contain;
  width: 99px;
  height: 103px;
}

.benefit-content-pic1-1 {
  position: absolute;
  z-index: 1;
  top: 9%;
  left: 50%;
  margin-left: -30px;
  display: block;
  background: url(../img/Group-86.png) no-repeat center / contain;
  width: 54px;
  height: 77px;
}

.benefit-content-pic2 {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  margin-left: -27px;
  display: block;
  background: url(../img/Group-35.png) no-repeat center / contain;
  width: 74px;
  height: 99px;
}

.benefit-content-pic2-2 {
  position: absolute;
  z-index: 1;
  top: 9%;
  left: 50%;
  margin-left: -42px;
  display: block;
  background: url(../img/Group82.png) no-repeat center / contain;
  width: 72px;
  height: 72px;
}

.benefit-content-pic3 {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  margin-left: -45px;
  display: block;
  background: url(../img/Group47.png) no-repeat center / contain;
  width: 91px;
  height: 88px;
}

.benefit-content-pic3-3 {
  position: absolute;
  z-index: 1;
  top: 9%;
  left: 50%;
  margin-left: -42px;
  display: block;
  background: url(../img/Group103.png) no-repeat center / contain;
  width: 72px;
  height: 54px;
}

.benefit-content-pic4 {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  margin-left: -50px;
  display: block;
  background: url(../img/Group42.png) no-repeat center / contain;
  width: 99px;
  height: 103px;
}

.benefit-content-pic4-4 {
  position: absolute;
  z-index: 1;
  top: 11%;
  left: 50%;
  margin-left: -36px;
  display: block;
  background: url(../img/Group112.png) no-repeat center / contain;
  width: 72px;
  height: 54px;
}

.benefit-content-text-big {
  margin-bottom: 3px;
}

.benefit-content-pic5 {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  margin-left: -68px;
  display: block;
  background: url(../img/Group45.png) no-repeat center / contain;
  width: 99px;
  height: 72px;
}

.benefit-content-pic5-5 {
  position: absolute;
  z-index: 1;
  top: 8%;
  left: 50%;
  margin-left: -34px;
  display: block;
  background: url(../img/Group113.png) no-repeat center / contain;
  width: 72px;
  height: 43px;
}

.benefit-content-pic6 {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  margin-left: -40px;
  display: block;
  background: url(../img/Group44.png) no-repeat center / contain;
  width: 87px;
  height: 82px;
}

.benefit-content-pic6-6 {
  position: absolute;
  z-index: 1;
  top: 14%;
  left: 50%;
  margin-left: -34px;
  display: block;
  background: url(../img/Group104.png) no-repeat center / contain;
  width: 72px;
  height: 54px;
}

.benefit-content-pic7 {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  margin-left: -56px;
  display: block;
  background: url(../img/Group41.png) no-repeat center / contain;
  width: 84px;
  height: 81px;
}

.benefit-content-pic7-7{
  position: absolute;
  z-index: 1;
  top: 14%;
  left: 50%;
  margin-left: -34px;
  display: block;
  background: url(../img/Group91.png) no-repeat center / contain;
  width: 72px;
  height: 54px;
}

.benefits-content-second-line {
  margin-top: 96px;
  margin-bottom: 20px;
  height: 139px;
}

.benefit-content-text-second {
  margin-bottom: 0;
}

.benefits-second-line {
  display: flex;
  justify-content: space-evenly;
}