* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", Arial, sans-serif;
  font-size: 16px;
  max-width: 1920px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Body  Information */

/* Header Navigation */
.head-nav a {
  color: #000000;
  font-size: 14px;
}

.head-nav > .head-logo {
  cursor: default;
  font-family: "Samsung Sharp Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.head-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 97%;
  background: #fff;
  z-index: 100;
}

nav {
  max-width: 885px;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-nav-button {
  display: block;
  background: url(../img/Hamburger_icon.svg.png) no-repeat center / contain;
  width: 40px;
  height: 40px;
  display: none;
  margin-right: 70px;
}

.nav-li-text {
  margin-right: 70px;
}

.nav-langs-button {
  background: #e5e5e5;
  width: 68px;
  padding: 0 10px;
  font-size: 16px;
  height: 32px;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-langs-button-hover {
  border-radius: 16px 16px 0 0;
}

.nav-langs-list {
  position: absolute;
  background: #e5e5e5;
  padding: 5px;
  border-radius: 0 0 16px 16px;
  text-align: center;
  display: none;
}

.nav-langs-item {
  display: block;
  padding: 5px;
  width: 68px;
  border-radius: 22px;
}

.nav-langs-item:hover {
  background: #cccccc;
}

/* HEAD CONTENT */
.cont-left-side {
  padding-right: 20px;
  max-width: 780px;
  width: 50%;
}

h1 {
  font-size: 60px;
  line-height: 1.1;
  font-weight: bold;
}

.head-text {
  font-size: 18px;
  line-height: 2;
  padding: 80px 0;
}

.head-content {
  padding: 120px 20px 70px 20px;
  display: flex;
}

.cont-pic {
  display: block;
  background: url(../img/Asset.png) no-repeat center / contain;
  width: 860px;
  padding-top: 57%;
}

/* Head Form */
.head-email {
  width: 326px;
  color: #707070;
  padding: 20px;
  border: 2px solid #707070;
  border-radius: 8px;
  font-size: 16px;
  margin-right: 20px;
}

.head-button {
  color: #ffffff;
  background-color: #462be2;
  padding: 22px;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  width: 280px;
}

.form-position {
  display: flex;
  justify-content: flex-start;
}

/* Section Description */
.description {
  position: relative;
  background: #23d87d;
  height: 660px;
  display: flex;
  justify-content: center;
}

.descr-text {
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 48px;
  font-weight: bold;
  text-align: center;
  width: 999px;
  color: #ffffff;
  z-index: 2;
}

.desc-pic {
  position: absolute;
  bottom: -31%;
  left: 11%;
  display: block;
  background: url(../img/Group-13.png) no-repeat center / contain;
  max-width: 1057px;
  width: 110%;
  padding-top: 58.3%;
  z-index: -1;
}

/* Section For-Whom */
.for-whom {
  padding: 50px 0;
}

.for-whom-content-all {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

h2 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  line-height: 64px;
  margin: 40px 0;
}

.for-whom-text {
  line-height: 32px;
}

.for-whom-title {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  margin: 40px 0;
}

.for-whom-content {
  width: 30%;
}

.for-whom-pic1 {
  display: block;
  background: url(../img/School.png) no-repeat center / contain;
  width: 371px;
  height: 275px;
}

.for-whom-pic2 {
  display: block;
  background: url(../img/individual.png) no-repeat center / contain;
  width: 368px;
  height: 257px;
  margin-top: 17px;
}

.for-whom-pic3 {
  display: block;
  background: url(../img/bussiness.png) no-repeat center / contain;
  width: 370px;
  height: 258px;
  margin-top: 17px;
}

/* Section Function */
.container {
  max-width: 1163px;
  margin: 0 auto;
}

.function {
  background: #252f5a;
  color: #ffffff;
  padding-bottom: 1px;
}

.function-title {
  text-align: center;
  padding-top: 135px;
  padding-bottom: 55px;
}

.function-text {
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 120px;
}

.function-section-text-position {
  display: flex;
  justify-content: center;
}

.function-dots {
  display: flex;
  justify-content: center;
  width: 1160px;
  border-top: 1px dashed #ff8a33;
  border-bottom: 1px dashed #ff8a33;
}

.function-section-text {
  font-size: 24px;
  line-height: 48px;
  font-weight: bold;
  max-width: 1033px;
  text-align: center;
  margin: 120px 0;
}

/* Function Content */
.content-all {
  position: relative;
  margin-top: 10px;
}

.function-content {
  min-height: 461px;
  margin: 90px 0 180px 0;
  display: flex;
  justify-content: space-between;
}

.function-content-pic {
  position: absolute;
  top: 0;
  right: -20.5%;
  display: block;
  background: url(../img/Group-80.png) no-repeat center / contain;
  width: 1042px;
  height: 461px;
}

.function-content-pic2 {
  position: absolute;
  top: 38%;
  left: -20.5%;
  display: block;
  background: url(../img/Group-81.png) no-repeat center / contain;
  width: 1042px;
  height: 461px;
}

.function-content-pic3 {
  position: absolute;
  top: 73.5%;
  right: -20.5%;
  display: block;
  background: url(../img/Group-82.png) no-repeat center / contain;
  width: 1042px;
  height: 461px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  margin: 20px 0 30px 0;
}

.function-content-text li {
  font-size: 18;
  line-height: 24px;
  margin: 15px 0 15px 28px;
}

.function-content-text li:before {
  content: "-";
  display: inline;
  left: 0;
  position: absolute;
}

.function-content-text-right li:before {
  content: "-";
  display: inline;
  left: 68%;
  position: absolute;
}

.function-content-text {
  max-width: 410px;
  min-height: 461px;
}

.function-content-right {
  display: flex;
  justify-content: flex-end;
}

.function-content:last-child {
  margin: 90px 0 120px 0;
}

/* Section Benefits */
.benefits {
  background: #23d87d;
  color: #ffffff;
}

.benefits-container {
  padding: 100px 0;
}

.benefits-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  width: 21%;
  height: 217px;
}

.benefit-content-text {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 50px;
}

.benefits-first-line {
  display: flex;
  justify-content: space-between;
  margin-top: 124px;
}

.benefit-content-pic1 {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  margin-left: -50px;
  display: block;
  background: url(../img/Group42.png) no-repeat center / contain;
  width: 99px;
  height: 103px;
}

.benefit-content-pic1-1 {
  position: absolute;
  z-index: 1;
  top: 9%;
  left: 50%;
  margin-left: -30px;
  display: block;
  background: url(../img/Group-86.png) no-repeat center / contain;
  width: 54px;
  height: 77px;
}

.benefit-content-pic2 {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  margin-left: -27px;
  display: block;
  background: url(../img/Group-35.png) no-repeat center / contain;
  width: 74px;
  height: 99px;
}

.benefit-content-pic2-2 {
  position: absolute;
  z-index: 1;
  top: 9%;
  left: 50%;
  margin-left: -42px;
  display: block;
  background: url(../img/Group82.png) no-repeat center / contain;
  width: 72px;
  height: 72px;
}

.benefit-content-pic3 {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  margin-left: -45px;
  display: block;
  background: url(../img/Group47.png) no-repeat center / contain;
  width: 91px;
  height: 88px;
}

.benefit-content-pic3-3 {
  position: absolute;
  z-index: 1;
  top: 9%;
  left: 50%;
  margin-left: -42px;
  display: block;
  background: url(../img/Group103.png) no-repeat center / contain;
  width: 72px;
  height: 54px;
}

.benefit-content-pic4 {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  margin-left: -50px;
  display: block;
  background: url(../img/Group42.png) no-repeat center / contain;
  width: 99px;
  height: 103px;
}

.benefit-content-pic4-4 {
  position: absolute;
  z-index: 1;
  top: 11%;
  left: 50%;
  margin-left: -36px;
  display: block;
  background: url(../img/Group112.png) no-repeat center / contain;
  width: 72px;
  height: 54px;
}

.benefit-content-text-big {
  margin-bottom: 3px;
}

.benefit-content-pic5 {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  margin-left: -68px;
  display: block;
  background: url(../img/Group45.png) no-repeat center / contain;
  width: 99px;
  height: 72px;
}

.benefit-content-pic5-5 {
  position: absolute;
  z-index: 1;
  top: 8%;
  left: 50%;
  margin-left: -34px;
  display: block;
  background: url(../img/Group113.png) no-repeat center / contain;
  width: 72px;
  height: 43px;
}

.benefit-content-pic6 {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  margin-left: -40px;
  display: block;
  background: url(../img/Group44.png) no-repeat center / contain;
  width: 87px;
  height: 82px;
}

.benefit-content-pic6-6 {
  position: absolute;
  z-index: 1;
  top: 14%;
  left: 50%;
  margin-left: -34px;
  display: block;
  background: url(../img/Group104.png) no-repeat center / contain;
  width: 72px;
  height: 54px;
}

.benefit-content-pic7 {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  margin-left: -56px;
  display: block;
  background: url(../img/Group41.png) no-repeat center / contain;
  width: 84px;
  height: 81px;
}

.benefit-content-pic7-7 {
  position: absolute;
  z-index: 1;
  top: 14%;
  left: 50%;
  margin-left: -34px;
  display: block;
  background: url(../img/Group91.png) no-repeat center / contain;
  width: 72px;
  height: 54px;
}

.benefits-content-second-line {
  margin-top: 96px;
  margin-bottom: 20px;
  height: 139px;
}

.benefit-content-text-second {
  margin-bottom: 0;
}

.benefits-second-line {
  display: flex;
  justify-content: space-evenly;
}

/* Section MOB-APP */
.mob-app {
  background: #ffe07d;
  color: #000000;
}

.mob-app-content {
  max-width: 524px;
  margin-top: 90px;
  margin-right: 101px;
}

.mob-app-pic {
  display: block;
  background: url(../img/phone.png) no-repeat center / contain;
  width: 486px;
  height: 323px;
  margin: 44px 0 33px 0;
}

.mob-app-all {
  display: flex;
}

.mob-app-text {
  margin-top: 48px;
  line-height: 32px;
}

/* Section Partners */
.partners-container > h2 {
  margin-top: 119px;
}

.partner1 {
  display: block;
  background: url(../img/dark-logo-for-site.png) no-repeat center / contain;
  width: 267px;
  height: 95px;
}

.partner2 {
  display: block;
  background: url(../img/Git-Logo-Black.png) no-repeat center / contain;
  width: 199px;
  height: 83px;
}

.partner3 {
  display: block;
  background: url(../img/placeholder.png) no-repeat center / contain;
  width: 261px;
  height: 54px;
}

.partner4 {
  display: block;
  background: url(../img/Jeep.png) no-repeat center / contain;
  width: 231px;
  height: 130px;
}

.our-partners {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2vw;
  justify-items: center;
  align-items: center;
  margin: 84px 20px 245px 0;
}

.form-title > h2 {
  margin-bottom: 63px;
}

/* Section Form-On-Demo */
.form-foot {
  margin: 0 auto;
  max-width: 560px;
  box-sizing: border-box;
  padding: 40px;
  border-radius: 16px;
  background: #23d87d;
  color: #ffffff;
  z-index: 99;
}

.textbox {
  height: auto;
  width: 100%;
  border-radius: 8px;
  border: #ffffff 2px solid;
  box-sizing: border-box;
  font-size: 24px;
  color: #ffffff;
  background: #23d87d;
  font-weight: bold;
  padding: 16px 0 16px 29px;
  margin-bottom: 30px;
}

.message:focus,
.textbox:focus {
  outline: none;
  border: rgba(24, 149, 215, 1) 2px solid;
  color: rgba(24, 149, 215, 1);
}

.message {
  background: #23d87d;
  width: 100%;
  height: 240px;
  border: #ffffff 2px solid;
  box-sizing: border-box;
  -moz-border-radius: 3px;
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  -webkit-border-radius: 3px;
  border-radius: 8px;
  display: block;
  padding: 16px 0 16px 29px;
  margin-bottom: 30px;
  overflow: hidden;
}

.button {
  height: 60px;
  width: 100%;
  border-radius: 8px;
  border: #462be2 0px solid;
  box-sizing: border-box;
  padding: 20px;
  background: #462be2;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  transition: background 0.4s;
  cursor: pointer;
  text-transform: uppercase;
}

.form-foot input::-webkit-input-placeholder,
.message::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

.form-foot input:-ms-input-placeholder,
.message:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.form-foot input::-ms-input-placeholder,
.message::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.form-foot input::placeholder,
.message::placeholder {
  color: #fff;
  opacity: 1;
}

/* Section-Form-Picture */
.form-on-demo {
  position: relative;
  background: url(../img/Group119.jpg) no-repeat center bottom / contain;
  padding-bottom: 30%;
}

/* FOOTER */
.foot {
  margin-top: 100px;
  border-top: 1px dashed #000000;
}

.boof-side {
  margin: 60px 0;
  display: flex;
  justify-content: space-between;
}

.left-side {
  display: flex;
}

.right-side {
  display: flex;
}

.foot-phone {
  margin-right: 70px;
  color: #000000;
}

.foot-email {
  margin-right: 73px;
}

.foot-tel {
  color: #359fdd;
}

.foot a:hover {
  text-decoration: underline;
}
